<%- include('../partials/errors') %>
<h1><%= file.name %></h1>
<p>Type: <%= file.mimetype %></p>
<p>Size: <%= (file.size / 1024).toFixed(1) %> KB</p>
<p>Uploaded: <%= new Date(file.createdAt).toLocaleString() %></p>
<a href="/files/<%= file.id %>/download"><button>Download</button></a>
<form
  action="/files/<%= file.id %>?_method=DELETE"
  method="POST"
  onsubmit="return confirm('Are you sure you want to delete this file?');"
>
  <button type="submit">Delete</button>
</form>
<br /><br />
<a href="/folders/<%= file.folderId %>">← Back to folder</a>
