<div class="address-bar">
  <a href="/folders">My Drive</a>
  <span>&rsaquo;</span>
  <a href="/folders/<%= file.folder.id %>"><%= file.folder.name %></a>
  <span>&rsaquo;</span>
  <span><%= file.name %></span>
</div>

<%- include('../partials/errors') %>

<fieldset>
  <legend>File Details</legend>
  <table>
    <tr>
      <td><strong>Name:</strong></td>
      <td><%= file.name %></td>
    </tr>
    <tr>
      <td><strong>Type:</strong></td>
      <td><%= file.mimetype %></td>
    </tr>
    <tr>
      <td><strong>Size:</strong></td>
      <td><%= formatSize(file.size) %></td>
    </tr>
    <tr>
      <td><strong>Uploaded:</strong></td>
      <td><%= new Date(file.createdAt).toLocaleString() %></td>
    </tr>
  </table>
</fieldset>

<div class="form-row">
  <button onclick="location.href = '/files/<%= file.id %>/download'">
    💾 Download
  </button>
  <form
    action="/files/<%= file.id %>?_method=DELETE"
    method="POST"
    class="inline-form"
    onsubmit="return confirm('Are you sure you want to delete this file?');"
  >
    <button type="submit">🗑️ Delete</button>
  </form>
</div>
