<h2>Files</h2>
<% if (folder.files.length > 0) { %>
  <ul>
    <% for (const file of folder.files) { %>
      <li><a href="/files/<%= file.id %>"><%= file.name %></a> (<%= file.mimetype %>, <%= file.size %> bytes)</li>
    <% } %>
  </ul>
<% } else { %>
  <p>No files yet.</p>
<% } %>

<form
  action="/folders/<%= folder.id %>/files"
  method="POST"
  enctype="multipart/form-data"
>
  <label for="file">File</label>
  <input id="file" name="file" type="file" />
  <button type="submit">Upload</button>
</form>
