<nav aria-label="Breadcrumb">
  <a href="/folders">My Drive</a> &gt;
  <a href="/folders/<%= folder.id %>"><%= folder.name %></a> &gt;
  <span>Edit</span>
</nav>
<h1>Rename folder</h1>
<%- include("../partials/errors") %>
<form action="/folders/<%= folder.id %>?_method=PUT" method="POST">
  <input
    type="text"
    name="name"
    id="name"
    value="<%= locals.input?.name || folder.name %>"
  />
  <button type="submit">Rename</button>
</form>
