<div class="address-bar">
  <a href="/folders">My Drive</a>
  <span>&rsaquo;</span>
  <a href="/folders/<%= folder.id %>"><%= folder.name %></a>
  <span>&rsaquo;</span>
  <span>Rename</span>
</div>

<%- include("../partials/errors") %>

<fieldset>
  <legend>Rename Folder</legend>
  <form action="/folders/<%= folder.id %>?_method=PUT" method="POST">
    <div class="form-row">
      <label for="name">Name:</label>
      <input
        type="text"
        name="name"
        id="name"
        value="<%= locals.input?.name || folder.name %>"
        style="flex: 1"
      />
      <button type="submit">Rename</button>
    </div>
  </form>
</fieldset>
